<!DOCTYPE html>
<html lang="en">

<head>
  <title>Compassion Coop</title>
  <link rel="stylesheet" href="events.css">
  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

  `<!-- In this prac we'll be using Vue directly from CDN rather than via ES Module imports. You can use either method in your projects. -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- Replace the above script tag with this one if you want to use Vue 3    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

  <script src="javascripts/login.js" defer></script>
  <script src="javascripts/branchManagement.js" defer></script>


</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/homepage.html"><img src="images/WebPageLogo.png" alt="logo"></a>
      <div class="company-name">
        <span class="compassion">Compassion</span>
        <span class="coop">Coop</span>
      </div>
    </div>


    <div class="navigation-container">
      <div class="navigation">
        <ul>
          <li><a href="/aboutus.html">About Us</a></li>
          <li><a href="/events.html">Events</a></li>
          <li><a href="/work.html">How We Work</a></li>

          <li class="branches-dropdown">
            <a href="branchSignup.html">Branches</a>
          </li>

        </ul>
      </div>
    </div>


    <div class="nav-dropdown">

      <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="images/WebPageLogo.png" width="16" height="16" alt="Profile Icon" class="profile_icon">
      </button>


      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#AboutUs"><span><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span> About Us</a></li>

        <li><a class="dropdown-item" href="/events.html"><span><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span>Events</a></li>

        <li><a class="dropdown-item" href="#HowWeWork"><span><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span>How We Work</a></li>

        <li><a class="dropdown-item" href="#SignUp"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span>Sign up to our Newsletter!</a></li>

      </ul>
    </div>

    <div class="dropdown">

      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-person profile_icon" viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
        </svg>
      </button>


      <ul class="dropdown-menu" id="loginDropdown">
        <li v-if="loggedIn"><a class="dropdown-item" href="/myinfo.html"><span><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span> Profile</a></li>

        <li v-if="loggedIn&amp;isSystemAdmin"><a class="dropdown-item"
            href="/admin.html"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span> Sign Up Requests</a></li>

        <li v-if="loggedIn&amp;isSystemAdmin"><a class="dropdown-item"
            href="/myinfo.html"><span><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span> Manage My Users</a></li>

        <li v-if="!loggedIn"><a class="dropdown-item" href="/signup.html"><span><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span>Sign Up</a></li>

        <li v-if="!loggedIn"><a class="dropdown-item" href="/login.html"><span><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle dropdown_icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg></span>Login</a></li>

        <li v-if="loggedIn"><button class="dropdown-item" type="button" @click="logout"> <span><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-right dropdown_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
              </svg></span> Logout</button></li>


      </ul>
    </div>
  </div>


  <div class="background-image background-overlay">
    <!-- Background image content here -->
    <h1>Events</h1>
    <h2>Compassion Coop</h2>
  </div>


  <div class="main-content" id="branchManagement">
    <div class="filter-event-buttons">
      <button @click="toggleElement('eventsBool')" type="button" class="btn btn-outline-primary btn-lg event-btn">All Events</button>
      <button @click="toggleElement('announcementsBool')" type="button" class="btn btn-outline-primary btn-lg event-btn">My Events</button>
    </div>


      <div v-if="currentElement == 'eventsBool'" class="events-display">

        <template v-for="(item, index) in events">

            <div v-if="item.public" class="event-box">
              <img :src="item.image" alt="Event Image" class="event-image">
              <div class="event-details">
                <div v-if="item.public" class="date-box">{{ formatDate(item.date) }} <br> public</div>
                <div v-if="!item.public" class="date-box">{{ formatDate(item.date) }}  <br> private</div>
                <h1>{{ item.name }}</h1>
                <p>{{ item.info }}</p>
                <button v-if="!goingBool(item.eventId)" @click="eventRSVP(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">Going</button>
<button v-if="goingBool(item.eventId)" @click="eventRSVP(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">Not Going</button>
<button v-if="manager || admin" @click="eventAttendeesPage(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">See Attendees</button>

              </div>
              <button v-if="manager || admin" @click="removeEvent(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">Remove Event</button>
            </div>
        </template>


      </div>

      <div v-if="currentElement == 'announcementsBool'" class="events-display">

        <template v-for="(item, index) in myevents">

            <div v-if="item.user === email" class="event-box">
              <img src="item.image" alt="Event Image" class="event-image">
              <div class="event-details">
                <div v-if="item.public" class="date-box">{{ formatDate(item.date) }} <br> public</div>
                <div v-if="!item.public" class="date-box">{{ formatDate(item.date) }}  <br> private</div>
                <h1>{{ item.name }}</h1>
                <p>{{ item.info }}</p>
                <button v-if="!goingBool(item.eventId)" @click="eventRSVP(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">Going</button>
                <button v-if="goingBool(item.eventId)" @click="eventRSVP(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">Not Going</button>
                <button v-if="manager || admin" @click="eventAttendeesPage(item.eventId)" type="button" class="btn btn-outline-primary btn-lg event-btn">See Atdees</button>
              </div>
              <button v-if="manager || admin" class="postNewEvent" @click="removeEvent(item.eventId)"
                type="button">Remove Even</button>
            </div>
        </template>


      </div>

  </div>
</body>

</html>

<footer id="footer" class="site-footer">
  <div class="main-footer-container footer-widgets-container">
    <div class="container">
      <div class="row">
        <div class="footer-col col-xs-12 col-sm-6 col-md-3">
          <div class="footer-widget about-widget">
            <h5 class="widget-title">Compassion Coop<span></span></h5>
            <p>Compassion in Action: Building a Better World Together.</p>
          </div>
        </div>
        <div class="footer-col col-xs-12 col-sm-6 col-md-3">
          <div class="footer-widget quick-links-widget">
            <h5 class="widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="aboutus.html">About Us</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="events.html">Events</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="work.html">How We Work</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-col col-xs-12 col-sm-6 col-md-3">
          <div class="footer-widget subscribe-widget">
            <h5 class="widget-title">Join Our Mailing List<span></span></h5>
            <p>Subscribe to receive updates on our latest volunteering opportunities and events.</p>
            <a class="btn" href="/signup_news.html" target="\_blank">Subscribe Now</a>
          </div>
        </div>
        <div class="footer-col col-xs-12 col-sm-6 col-md-3">
          <div class="footer-widget contact-widget">
            <h5 class="widget-title">Contact Us<span></span></h5>
            <p><a href="mailto:info@domain.com" title="glorythemes">CompassionCoop1@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright Compassion Coop © 2022. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>